---
// export const prerender = false;

import BaseLayout from "../../layout/BaseLayout.astro";
import Alsolike from "../../components/Alsolike.astro";

const { params } = Astro;

const url = `https://fuhivjttnnnmjsbwnrcn.supabase.co/rest/v1/alsolike_products?id=eq.${params.id}`;
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1aGl2anR0bm5ubWpzYnducmNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3OTczNTUsImV4cCI6MjA2MzM3MzM1NX0.x_2Eu1hHj-x_7TacO5SopIqOrc8030A1NXhpY8GeL2k";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
const product = data[0];
---

<script>
  let showingHover = false;

  window.addEventListener("DOMContentLoaded", () => {
    const mainImg = document.getElementById("main-img");
    const hoverImg = document.getElementById("hover-img");
    const arrows = document.querySelectorAll(".arrow");

    if (!mainImg || !hoverImg || !arrows.length) return;

    arrows.forEach((arrow) => {
      arrow.addEventListener("click", () => {
        mainImg.classList.toggle("hide");
        hoverImg.classList.toggle("show");
        showingHover = !showingHover;
      });
    });
  });
</script>

<BaseLayout>
  {
    product ? (
      <section class="single-product">
        <div class="image">
          <img id="main-img" src={product.image} alt={product.name} />
          <img id="hover-img" src={product.hoverimage} alt={`${product.name} side`} class="hidden" />

          <button class="arrow left">
            <img src="/icons/arrow-right.webp" alt="Previous" />
          </button>
          <button class="arrow right">
            <img src="/icons/arrow-left.webp" alt="Next" />
          </button>
        </div>

        <div class="info">
          <h1>{product.name}</h1>
          <p>{product.price},00 kr</p>

          <select id="size" name="size">
            <option disabled selected>
              Size
            </option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
          </select>

          <button onclick={`addToCart({ id: ${product.id}, name: '${product.name}', price: ${product.price} })`}>ADD TO CART</button>

          <ul class="description">
            <li>• 100% cotton</li>
            <li>• Red signature necktag and hangtag</li>
            <li>• Boxy fitment</li>
          </ul>
        </div>
      </section>
    ) : (
      <p>Produkt ikke fundet</p>
    )
  }

  <Alsolike />
</BaseLayout>

<style>
  .single-product {
    display: flex;
    gap: 4rem;
    padding: 3rem;
    text-align: left;
    margin-top: 5rem;
    align-items: center;
  }

  select#size {
    border: none;
    border-bottom: 1px solid black;
  }

  select[data-astro-cid-b6xca4jq] {
    margin-bottom: 5rem;
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
  }

  div.info {
    width: 40%;
    max-width: 700px;
  }

  .info h1 {
    font-size: 2.5vw;
    margin-bottom: 1rem;
  }

  .info p {
    font-weight: normal;
    margin-bottom: 5rem;
    margin-top: 1rem;
  }

  select {
    margin-bottom: 4rem;
    padding: 0.5rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    font-size: 1rem;
  }

  button {
    padding: 1rem 2rem;
    width: 100%;
    color: black;
    border: 1px solid #000;
    background: transparent;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(232, 232, 232);
  }

  .description {
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    color: rgba(0, 0, 0, 0.75);
  }

  .description li {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 840px) {
    .single-product {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }

    div.info {
      width: 100%;
      max-width: 100%;
    }

    .image img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .info h1 {
      font-size: 2rem;
    }
  }

  .image {
    position: relative;
  }

  .image img {
    max-width: 700px;
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
  }

  #hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  #hover-img.show {
    opacity: 1;
  }

  #main-img.hide {
    opacity: 0;
  }

  .arrow {
    position: absolute;
    top: 90%;
    left: 47%;
    gap: 8rem;

    transform: translateX(-50%);
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    opacity: 0.8;
  }

  .arrow img {
    height: 25px;
    width: 25px;
  }

  button.arrow.left {
    padding-left: 100px;
    width: 0px;
  }
  button.arrow:hover {
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0 0 3px rgba(213, 213, 213, 0.749));
  }

  button.arrow.right {
    padding-right: 100px;
    width: 0px;
  }
</style>
